<div class="container text-center">
     <h2 class="display-4 font-weight-normal mb-5">Lecture 4</h2>
     <hr class="mb-5">
     <div class="row">
          <div class="col p-2 mx-2">
               <app-purchase-creator
                    (createPurchase)="onPurchaseAdd($event)">
               </app-purchase-creator>
          </div>
          <div class="col p-2 mx-2">
               <app-purchase-list
                    [purchaseList]="purchaseList"
                    (duplicatePurchase)="onPurchaseDuplicate($event)">
                    (deletePurchase)="onPurchaseDelete($event)">
               </app-purchase-list>
          </div>
     </div>
</div>