<h3 class="mb-5">Create Your Purchase</h3>

<form class="text-left border rounded-lg p-4">
     <div class="form-row">
          <div class="form-group col-9">
               <label class="font-weight-bold w-100">Purchase Name
                    <input type="text" class="form-control"
                           #purchaseName>
               </label>
          </div>
          <div class="form-group col-3">
               <label class="font-weight-bold w-100">Amount
                    <input type="number" class="form-control" min="1" value="1"
                           #purchaseAmount>
               </label>
          </div>
     </div>
     
     <button class="btn btn-primary px-4"
             (click)="onCreatePurchase()">Create</button>
</form>