<h3 class="mb-5">Create Your Purchase</h3>

<form class="text-left">
     <div class="form-group">
          <label class="font-weight-bold w-100">Purchase Name
               <input type="text" class="form-control"
                      #purchaseName>
          </label>
     </div>
     <div class="form-group">
          <label class="font-weight-bold w-100">Amount
               <input type="number" class="form-control"
                      #purchaseAmount>
          </label>
     </div>
     <button class="btn btn-primary px-4"
             (click)="onCreatePurchase()">Create</button>
</form>