<div class="container text-center">
     <h2 class="display-4 font-weight-normal mb-5">Lecture 3 & 10</h2>
     <div class="row mb-5">
          <div class="col">
               <app-control (onStart)="start()"></app-control>
          </div>
     </div>
     <hr class="mb-5">
     <div class="row"
          *ngIf="started; else intro">
          <div class="col p-2 mx-2">
               <app-odd [count]="count$"></app-odd>
          </div>
          <div class="col p-2 mx-2">
               <app-even [count]="count$"></app-even>
          </div>
     </div>
     <ng-template #intro>
          <p class="lead">Press 'Start' for the numbers to start appearing.</p>
     </ng-template>
</div>
