<div class="container text-center">
     <h2 class="display-4 font-weight-normal mb-5">Lecture 3 & 10</h2>
     <div class="row mb-5">
          <div class="col">
               <app-control (onStart)="numberAdded($event)"></app-control>
          </div>
     </div>
     <hr class="mb-5">
     <div class="row"
          *ngIf="oddNumbers.length || evenNumbers.length; else intro">
          <div class="col p-2 mx-2">
               <h3 class="mb-5">Odd Numbers</h3>
               <hr class="mb-5">
               <div class="container">
                    <div class="row">
                         <app-odd class="col-2"
                                   *ngFor="let number of oddNumbers"
                                   oddNumber="{{number}}">
                         </app-odd>
                    </div>
               </div>
          </div>
          <div class="col p-2 mx-2">
               <h3 class="mb-5">Even Numbers</h3>
               <hr class="mb-5">
               <div class="container">
                    <div class="row">
                         <app-even class="col-2"
                                   *ngFor="let number of evenNumbers"
                                   evenNumber="{{number}}">
                         </app-even>
                    </div>
               </div>
          </div>
     </div>
     <ng-template #intro>
          <p class="lead">Press 'Start' for the numbers to start appearing.</p>
     </ng-template>
</div>
