<div class="container text-center">
     <h2 class="display-4 font-weight-normal mb-5">Lecture 4 & 6-9</h2>
     <ul class="nav nav-tabs mb-5">
          <li class="nav-item">
               <a 
                    class="nav-link"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    routerLink="./">
                    Home</a>
          </li>
          <li class="nav-item">
               <a 
                    class="nav-link"
                    routerLinkActive="active"
                    routerLink="./add">
                    Purchase Creator</a>
          </li>
          <li class="nav-item">
               <a
                    class="nav-link"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    routerLink="./purchase">
                    Purchase List</a>
          </li>
          <li class="nav-item ml-auto">
               <a
                    class="nav-link"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    routerLink="./login">
                    Login Page</a>
          </li>
     </ul>
     <router-outlet></router-outlet>
</div>