<div class="card bg-light text-center mb-3">
     <div class="card-body">
          <div class="row">
               <div class="col">
                    <p class="card-text m-0"><b>Product:</b> {{ purchase.name }}</p>
               </div>
               <div class="col">
                    <p class="card-text m-0"><b>Amount:</b> {{ purchase.amount }}</p>
               </div>
               <div class="col">
                    <a 
                         class="btn btn-outline-primary mx-2"
                         routerLink="{{purchase.id}}">
                         Details</a>
               </div>
          </div>
     </div>
</div>